@media screen and (max-width: 680px) {
    .score-panel {
        grid-template-columns: 80% 20%;
        grid-row-gap: 5px;
    }

    .counters {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }

    .restart {
        grid-row: 1 / 3;
    }
}

@media screen and (max-width: 480px) {

    .deck {
        grid-gap: 10px;
    }

    h1 {
        font-size: 1.8em;
    }

    .score-panel {
        font-size: 1em;
        width: 80%;
    }
}